@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --ui-radius: 0.5rem;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: #000000;
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-border: var(--ui-color-neutral-900);
  --ui-border-muted: var(--ui-color-neutral-800);
  --ui-border-accented: var(--ui-color-neutral-700);
}

html,
body,
#__nuxt {
  height: 100%;
  overflow: hidden;
}

body {
  @apply bg-muted text-highlighted antialiased;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
